.btn_more {
    font-size: 0.875rem;
    /* padding-inline: 44.42px;
    padding-block: 12px; */
    margin: auto;
    width: 157px;
    height: 40px;
    line-height: 100%;
    letter-spacing: 4px;
    letter-spacing: 4.41px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font-p);
    border: 1px solid var(--color-black);

    &:hover {
        cursor: pointer;
        color: var(--color-white);
        background: var(--color-black);
    }
}