*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

}

button {
    border: none;
    outline: none;
    background: none;
}


/* Clases generales wrapper */
.wrapper {
    width: var(--width-wrapper);
    margin: auto;
}