.modal {
    position: fixed;
    display: none;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: black;

    .container_modal {
        padding-block: 42px 0;

        .content_modal {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav_menu {
            padding-block: 130px 0;
            /* flex */
            display: flex;
            gap: 24px;
            flex-direction: column;

            a {
                font-size: 1.5rem;
                font-weight: 300;
                text-transform: uppercase;
                font-family: var(--font-h);
                color: var(--color-white);
            }
        }
    }
}

@media (width >=64rem) {
    .modal {
        /* display: none !important; */
    }
}

/* Activar Modal */
.active {
    display: block;
}